:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-c {
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: rgb(206, 206, 206);
  padding: 10px;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #1a1a1a;
}

h1 {
  color: #7982ff;
}

.card-pic {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.card {
  border: 1px solid rgb(204, 205, 208);
  border-radius: 10px;
  box-shadow: 0px 5px 30px 5px rgb(255, 0, 0);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.cell {
  border: 1px solid #ffffff;
  width: 100px;
  height: 100px;
}

.cell img {
  width: 100px;
  height: 100px;
}

.games {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.board {
  padding: 50px;
  padding-bottom: 25px;
  width: 305px ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  margin-bottom: 0px;
  padding-top: 10px;
  color: green;
}